#banner{
    display: flex;
    flex-wrap: wrap;
    padding: 10vh 0 10vh 0;
    align-items: center;
    justify-content: center;
    margin-top: 6.25rem;
    background: linear-gradient(90deg, rgba(227,147,53,1) 0%, rgba(222,117,83,1) 100%);
}

#banner img{
    width: 21rem;
}
#banner div{
    display: flex;
    flex-direction: column;
    width: 34.1875rem;
    margin-left: 11.5vw;
    font-size: 1.5rem;
    color: white;
    font-family: titillium_weblight;
}
#banner div img{
    margin-bottom: 5vh;
    width: 100%;
}
article#article1{
    padding : 10vh 15vw 10vh 15vw;  
}
article#article1 h2{
    letter-spacing: 1px;
    width: 50vw;
    font-size: 4.5rem;
    font-family: Montserrat;
    font-weight: 500;
    color: rgba(227,147,53,1);
}
article#article1 h3{
    margin-top: 5vh;
    margin-left: auto;
    width: 45vw;
    font-size: 2.5rem;
    font-family: Montserrat;
    font-weight: 400;
    text-align: end;
}
article#article1 div{
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
article#article1 div div{
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 26rem;
}
article#article1 div div h4{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    width: 26rem;
}
article#article1 div div img{
    width: 6rem;
}
article#article1 div div p{
    font-family: Montserrat;
    width: 19rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}
#article2{
    margin-top: 5vh;
}
#formlink{
    padding: 5vh 0 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#formlink a{
    position: relative;
    color: #7f3996;
    font-weight: bold;

}
#formlink a:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

#formlink a:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
@media screen and (min-width: 1001px) and (max-width: 1249px){}

@media screen and (min-width: 641px) and (max-width: 1000px){
    #banner{
        margin-top: 4.0625rem;
        flex-direction: column;
        padding: 25vh 0 15vh 0;
    }
    #banner div{
        width: 70vw;
        order: 1;
        margin-left: 0;
        font-size: 1.5rem;
        margin-bottom: 25vh;
    }
    #banner div img{
        order: 1;
    }
    #banner div h2{
        order: 2;
    }
    #banner img{
        order: 2;
        width: 60vw;
    }
    article#article1 h3{
        margin-top: 13vh;
    }
    article#article1 div{
        flex-direction: column;
        margin-top: 0;
    }
    article#article1 div div{
        width: auto;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    article#article1 div div img{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        width: 10rem;
    }
    article#article1 div div h4{
        width: auto;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 0;
    }
    article#article1 div div p{
        font-size: 1.8rem;
        margin-top: 2yrem;
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 640px){
    #banner{
        margin-top: 4rem;
        flex-direction: column;
        padding: 15vh 0 15vh 0;
        background: linear-gradient(190deg, rgba(227,147,53,1) 0%, rgba(222,117,83,1) 100%);

    }
    #banner div{
        width: 70vw;
        order: 1;
        margin-left: 0;
        font-size: 1rem;
        margin-bottom: 15vh;
    }
    #banner div img{
        order: 1;
    }
    #banner div h2{
        order: 2;
    }
    #banner img{
        order: 2;
        width: 18rem;
    }
    article#article1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10vh 0 10vh 0;
    }
    article#article1 h2{
        text-align: center;
        width: 80vw;
        font-size: 2.5rem;
    }
    article#article1 h3{
        width: 80vw;
        text-align: center;
        margin-top: 10vh;
        margin-left: 0;
        font-size: 2rem;
    }
    article#article1 div{
        flex-direction: column;
        margin-top: 0;
    }
    article#article1 div div{
        width: auto;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    article#article1 div div img{
        margin: 1rem 0 1rem 0;
    }
    article#article1 div div h4{
        width: auto;
        text-align: center;
        margin-bottom: 0;
    }
    article#article1 div div p{
        text-align: center;
        margin-left: 0;
    }
}

@keyframes floating{
    0%{transform: translateY(100px);}
    50%{transform: translateY(-100px);}
    100%{transform: translateY(0px);}
}
@-webkit-keyframes text-shadow-pop-bottom {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
  }
  @keyframes text-shadow-pop-bottom {
    0% {
      text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
  }
  