  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(-230px * 7.8));
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(-230px * 7.8));
    }
    100% {
        transform: translateX(0);
    }
  }
  .slider {
    background: white;
    height: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90vw;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 60s linear infinite;
            animation: scroll 60s linear infinite;
    display: flex;
    width: calc(230px * 7.8);
  }
  .slider .slide {
    /* 926/426 */
    height: 500px;
    width: 230.02px;
  }
  .slide{
      background-color: white;
      margin: 0 1vw 0 1vw;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .slide img{
    height: 500px;
    width: 230.02px;
  }